
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.todoContainer {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.todoCreateForm {
    margin: 10px;
    background-color: lavender;
    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.todosContainer {
    background-color: lavender;
    height: 20%;
    width: 30%;
    text-align: center;
}